<!DOCTYPE html>
<html lang="en" ng-app="ValidationApp">
<head>
    <meta charset="UTF-8">
    <title>Registration Form Validation</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
</head>
<body ng-controller="ValidationCtrl as ctrl">
<div class="container">
    <form name="validateForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="firstName">First Name :</label>
            <input type="text" id="firstName" name="firstName" class="form-control"
                   ng-model="ctrl.firstName" required>
            <div class="help-block"
                 ng-show="validateForm.firstName.$invalid && validateForm.firstName.$error.required">
                <p>First name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name :</label>
            <input type="text" id="lastName" name="lastName" class="form-control"
                   ng-model="ctrl.lastName" required>
            <div class="help-block"
                 ng-show="validateForm.lastName.$invalid&&validateForm.lastName.$error.required">
                <p>Last name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" class="form-control"
                   ng-model="ctrl.password" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.password.$invalid&&validateForm.password.$error.required">
                <p>Password is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender" ng-model="ctrl.gender" required>
                <option>Male</option>
                <option>Female</option>
            </select>

            <div class="help-block"
                 ng-show="validateForm.gender.$invalid&&validateForm.gender.$error.required">
                <p>Gender is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address :</label>
            <input type="text" id="address" name="address" class="form-control"
                   ng-model="ctrl.address" required>
            <div class="help-block"
                 ng-show="validateForm.address.$invalid&&validateForm.address.$error.required">
                <p>Address is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="country">Country :</label>
            <input type="text" id="country" name="country" class="form-control"
                   ng-model="ctrl.country" required>
            <div class="help-block"
                 ng-show="validateForm.country.$invalid&&validateForm.country.$error.required">
                <p>Country name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code :</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control"
                   ng-model="ctrl.postalCode" required ng-minlength="6" ng-maxlength="6" ng-pattern="/^[0-9]+$/">
            <div class="help-block"
                 ng-show="validateForm.postalCode.$invalid&&validateForm.postalCode.$error.required">
                <p>Postal Code is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control"
                   ng-model="ctrl.email" required>
            <div class="help-block"
                 ng-show="validateForm.email.$error.email">
                <p>Invalid email.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.email.$error.required">
                <p>Email is mandatory</p>
            </div>
        </div>

        <div class="form-group">
            <label for="contactNumber">Contact Number :</label>
            <input type="text" id="contactNumber" name="contactNumber" class="form-control"
                   ng-model="ctrl.contactNumber" required ng-pattern="/^[0-9]+$/">
            <div class="help-block"
                 ng-show="validateForm.contactNumber.$invalid&&validateForm.contactNumber.$error.required">
                <p>Contact Number is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth:</label>
            <input id="dateOfBirth" type="date" name="dateOfBirth" required class="form-control"
                   ng-model="ctrl.dateOfBirth">
            <div class="help-block"
                 ng-show="validateForm.dateOfBirth.$invalid&&validateForm.dateOfBirth.$error.required">
                <p>Date of Birth is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control"
                    ng-disabled="validateForm.$invalid">Register
            </button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
            <button class="close" data-dismiss="alert">x</button>
            {{ctrl.status.message}}
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="client_js.js"></script>

</html>